.mobile .projects-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
}
.mobile .achievements-view {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
}
.mobile .project-card {
  gap: 1vh;
}
.mobile .header-2 {
  font-size: 60px;
}
.mobile .header-3 {
  font-size: 52px;
}
.mobile .header-4 {
  font-size: 44px;
}
.mobile .text {
  font-size: 40px;
}
.mobile .text-small {
  font-size: 36px;
}
.mobile .chips-view {
  gap: 10px;
}
.mobile .chip {
  padding: 10px 30px;
}
.mobile li {
  font-size: 15px;
  font-weight: 400;
}
