:root {
  --background-primary: #ecf0f1;
  --card-background: #ffffff;
  --font-color: #000000;
  --chip-background: #007ef2;
  --button-background: #000000;
  --secondary-font-color: #ffffff;
  --font: "Inter";
}
html {
  background-color: var(--background-primary);
  font-family: var(--font);
}
body {
  display: flex;
  flex-direction: column;
  gap: 10vh;

  max-width: 1450px;
  padding: 0px 50px 100px 50px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.header-1 {
  font-size: 64px;
}
.header-2 {
  font-size: 52px;
}
.header-3 {
  font-size: 36px;
}
.header-4 {
  font-size: 32px;
}
.text {
  font-size: 26px;
}
.text-small {
  font-size: 20px;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}
.semi-black {
  font-weight: 800;
}
.black {
  font-weight: 900;
}
.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.icon {
  width: 30px;
  height: 30px;
}
.page {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  min-height: 70vh;
  width: 100%;
}
.projects-view {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.projects-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
}
.project-card {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: var(--card-background);
  border-radius: 30px;
  padding: 25px;
  height: min-content;
}
.screens-view {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 31% 31% 31%;
}
.screen {
  width: 100%;
}
.card-title-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.chip {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
}
.shadow-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.black-background {
  background: var(--button-background);
}
.chip p {
  color: var(--secondary-font-color);
}
.chips-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
.blue-background {
  background: var(--chip-background);
}
.workplace-view {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.skills-view {
  padding: 10px 0px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.start-page {
  justify-content: center;
}
.achievements-view {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 31% 31% 31%;
}
.achievement-image {
  width: 100%;
}
.instagram-icon {
  background-image: url("../assets/icons/instagram_icon.png");
  background-size: contain;
}
.telegram-icon {
  background-image: url("../assets/icons/telegram_icon.png");
  background-size: contain;
}
.github-icon {
  background-image: url("../assets/icons/github_icon.png");
  background-size: contain;
}
.chip a {
  width: 100%;
  height: 100%;
  position: absolute;
}
.modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;
}
.modal {
  position: relative;
  width: 350px;
  padding: 3%;
  background-color: var(--background-primary);
  border-radius: 20px;
}
.modal-content {
  display: grid;
  gap: 15px;
  height:min-content;
}
.close-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 15px;
  height: 15px;
  background-image: url("../assets/cross.png");
  background-size: contain;
}
.store-button {
  position: relative;
  background-color: var(--button-background);
  display: flex;
  flex-direction: row;
  padding: 25px 20px;
  border-radius: 20px;
  align-items: center;
}
.store-button p {
  display: flex;
  color: var(--secondary-font-color);
  width: 100%;
  justify-content: center;
}
.store-icon {
  padding: 5px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.app-store-icon {
  background-image: url("../assets/app-store-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.google-play-icon {
  background-image: url("../assets/google-play-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.app-gallery-icon {
  background-image: url("../assets/app-gallery-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.store-button a {
  position: absolute;
  width: 100%;
  height: 100%;
}
